    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>We provide technical services to organizations that make the world a better place. We help smaller firms access a team of experts without the financial commitment of hiring additional personnel.</p>
                    </br>
                    <p>Whether you need asset valuation and data analysis for contract negotiations, a new enterprise data warehouse and reporting system, or just want to improve your billing practices; we have the knowledge, experience, and network to make it happen!  </p> 
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   
                    </a>
                </div>
            </div>
        </div>
    </section>
