 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>DC:
                                   <br> <strong><a href="{{post.DCURL}}">{{ post.DC }}</a>
				   <br> <a href="{{post.DCURL1}}">{{ post.DC1 }}</a>
				   <br> <a href="{{post.DCURL2}}">{{ post.DC2 }}</a>
				   <br> <a href="{{post.DCURL3}}">{{ post.DC3 }}</a>
				   <br> <a href="{{post.DCURL4}}">{{ post.DC4 }}</a>
				   <br> <a href="{{post.DCURL5}}">{{ post.DC5 }}</a>		
                                    </strong>
                                </li>
                                <li> MD:
                                   <br><strong><a href="{{post.MDURL}}">{{ post.MD }}</a>
				   <br> <a href="{{post.MDURL1}}">{{ post.MD1 }}</a>
				   <br> <a href="{{post.MDURL2}}">{{ post.MD2 }}</a>
				   <br> <a href="{{post.MDURL3}}">{{ post.MD3 }}</a>
				   <br> <a href="{{post.MDURL4}}">{{ post.MD4 }}</a>
				   <br> <a href="{{post.MDURL5}}">{{ post.MD5 }}</a>	   
                                    </strong>
                                </li>
                                <li>VA:
                                   <br><strong><a href="{{post.VAURL}}">{{ post.VA }}</a>
				   <br> <a href="{{post.VAURL1}}">{{ post.VA1 }}</a>
				   <br> <a href="{{post.VAURL2}}">{{ post.VA2 }}</a>
				   <br> <a href="{{post.VAURL3}}">{{ post.VA3 }}</a>
				   <br> <a href="{{post.VAURL4}}">{{ post.VA4 }}</a>
				   <br> <a href="{{post.VAURL5}}">{{ post.VA5 }}</a>		 
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
