<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">We think about moving so you don't have to.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2019</h4>
                                    <h4 class="subheading">Our Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Over the course past 7 years, we've moved a total of XX times. To make lemonade out of lemons, we'd like to give you a comprehensive list of conisderations for any move.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2019</h4>
                                    <h4 class="subheading">The Project </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In April 2019, Ian convinced Mike that it would be a good idea to start this project. As a result, Ian is the lead Marketer and Mike is the lead Developer. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2019</h4>
                                    <h4 class="subheading">Web App Introduced to DMV Market</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our Web App will be introduced in July 2019. It will be limited to the DC/Maryland/Virginia Metro Area for Phase 1.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Winter 2020</h4>
                                    <h4 class="subheading">Premium Reporting and Expanded Functionality Introduced for Busincess Customers</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We're excited to announce our expanded functionality for our Business Partners starting in 2020. It will include personalized reporting for an unlimited number of moves per Month!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
